<!doctype html>
<html lang="en" ng-app="GreenLight">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Greenlight</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="/js/angular.min.js"></script>
        <script src="/js/main.js"></script>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body ng-controller="HomeView">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div>
            <button ng-click="scanForDevices()">Scan</button>
            <select ng-model="selectedDevice">
                <option ng-repeat="device in devices" value="{{ device.id }}">{{ device.name }}</option>
            </select> 
        </div>

        <input type="color" ng-model="lightColor" />
        <input type="range" min=0 max=100 step=1 ng-model="lightOpacity" />
        <button ng-click="disableLight(selectedDevice)">Disable Light</button>
        <button ng-click="enableLight(selectedDevice)">Enable Light</button>
    </body>
</html>